/*
 * Style sheets for the TocTree extension 
 * to display the toc structure
 *
 * @package MediaWiki
 * @subpackage Extensions
 * @author Roland Unger
 * @copyright © 2007 Roland Unger
 * v1.02 of 2012/09/03
 * @licence GNU General Public Licence 2.0 or later
*/

#toc {
 float: left;
 margin: 0 2em 1em 0;
 max-width: 20em;
}

body.rtl #toc {
 float: right;
 margin: 0 0 1em 2em;
 max-width: 20em;
}

.noFloat #toc, body.rtl .noFloat #toc {
 float: none;
 margin: 0;
 max-width: auto;
}
